/* TELA 2 */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-items: center;
    margin-top: 20px;
}

.quiz-image {
    margin-top: 70px;
    background-image: url(/imgs/HP.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 230px;
    width: 100%;
    object-fit: fill;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quiz-title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
}

.quiz-question {
    width: 686px;
    height: 140px;
    background-color: green;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-question>h4 {
    color: #FFFFFF;
}

.quiz-image-message {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quiz-grade {
    width: 650px;
    height: 99px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.quiz-level {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 760px;
    height: 430px;
    margin-top: 20px;

}

.quiz-container {
    background-color: aqua;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 680px;
    width: 760px;
    margin: 40px 0;
    margin: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quiz-answer {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.quiz-level-button-link {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.quiz-answer-items-2>img {
    width: 364px;
    height: 280px;
}

.quiz-answer-items-2 {
    display: flex;
}

.quiz-level-link {
    text-decoration: none;
    color: #818181;
    font-size: 21px;
    text-align: center;
    margin: -30px 0px 20px 0px;
}
.quiz-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.titulo1{
    word-break: break-all;
    width: 301px;
    height: 54px;
    position: absolute;
    color:white;
    bottom: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quizz{
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.upfront img{
    width: 340px;
    height: 181px;
    -webkit-mask-image: linear-gradient(to top, transparent 15%, rgb(0, 0, 0) 100%);
}




@media (max-width: 1100px) {

    .title-1 {
        width: 340px;
        justify-content: space-between;
    }

    .title-2 {
        width: 340px;
        display: flex;
        justify-content: space-between;
    }

    .my-quizzes {
        flex-direction: column;
    }

    .quiz {
        width: 100%;
        background-color: red;
    }

    .upfront {
        display: flex;
        width: max-content;
    }

    .margin-mobile {
        margin-right: 220px;
    }

    .quizzes {
        align-items: center;
    }

    .create-quiz {
        width: 100%;
        margin: 0 40px;
    }

    .quiz-list {
        display: flex;  
        flex-direction: column;
    }
    .upfront img{
        width: 50vw;
        height: 181px;
        -webkit-mask-image: linear-gradient(to top, transparent 15%, rgb(0, 0, 0) 100%);
    }
}